IDD_ADD_MEMBER DIALOGEX 0, 0, 320, 150
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Add Member"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Surname:",      -1, 20, 20, 80, 14
    EDITTEXT        IDC_SURNAME,    110, 20, 180, 14, WS_TABSTOP
    LTEXT           "First name:",   -1, 20, 45, 80, 14
    EDITTEXT        IDC_FIRSTNAME,  110, 45, 180, 14, WS_TABSTOP
    LTEXT           "City:",         -1, 20, 70, 80, 14
    EDITTEXT        IDC_CITY,       110, 70, 180, 14, WS_TABSTOP
    DEFPUSHBUTTON   "Add",          IDOK, 110, 100, 60, 14, WS_TABSTOP
    PUSHBUTTON      "Cancel",       IDCANCEL, 180, 100, 60, 14, WS_TABSTOP
END